@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "OpenSans", sans-serif;
  }
  h1 {
    @apply text-6xl font-bold;
  }
  h2 {
    @apply text-5xl font-bold;
  }
  h3 {
    @apply text-4xl font-bold;
  }
  h4 {
    @apply text-3xl ;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-xl ;
  }
}

@layer components {
  .navItem {
    @apply p-4 border-b-4 border-transparent hover:border-slate-400/80 transition-colors ease-in-out;
  }
  .navItem.active {
    @apply border-amber-200 text-amber-200;
  }
}
